In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
from sklearn.impute import SimpleImputer

In [5]:
from sklearn.preprocessing import OneHotEncoder

In [6]:
from sklearn.preprocessing import OrdinalEncoder

In [7]:
df = pd.read_csv('covid_toy.csv')

In [9]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [19]:
df.isnull().sum() #Missing Values

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [21]:
from sklearn.model_selection import train_test_split

In [24]:
x_train, x_test, y_train, y_train = train_test_split(df.drop(columns = ['has_covid']), df['has_covid'], test_size= 0.2)

In [25]:
x_train.head()

    age  gender  fever   cough       city
79   48  Female  103.0    Mild    Kolkata
0    60    Male  103.0    Mild    Kolkata
68   54  Female  104.0  Strong    Kolkata
45   72    Male   99.0    Mild  Bangalore
41   82    Male    NaN    Mild    Kolkata

In [26]:
x_test.head()

    age  gender  fever   cough       city
67   65    Male   99.0    Mild  Bangalore
99   10  Female   98.0  Strong    Kolkata
47   18  Female  104.0    Mild  Bangalore
77    8  Female  101.0    Mild    Kolkata
98    5  Female   98.0  Strong     Mumbai

In [32]:
oe = OrdinalEncoder(categories = [['Mild','Strong']])

In [40]:
x_train_cough = oe.fit_transform(x_train[['cough']])
x_test_cough = oe.transform(x_test[['cough']])

In [39]:
x_train_cough.shape

(80, 1)

In [41]:
x_test_cough.shape

(20, 1)

In [42]:
si = SimpleImputer()

In [48]:
x_train_fever = si.fit_transform(x_train[['fever']])
x_test_fever = si.transform(x_test[['fever']])

In [50]:
x_train_fever.shape

(80, 1)

In [51]:
x_test_fever.shape

(20, 1)

In [54]:
ohe = OneHotEncoder(sparse_output = False, drop = 'first')

In [59]:
x_train_city_gender = ohe.fit_transform(x_train[['city','gender']])
x_test_city_gender = ohe.fit_transform(x_test[['city','gender']])

In [60]:
x_train_city_gender.shape

(80, 4)

In [63]:
x_train_transform = np.concatenate((x_train_cough,x_train_fever,x_train_city_gender), axis =1)

In [64]:
x_train_transform.shape

(80, 6)

In [65]:
x_test_transform = np.concatenate((x_test_cough,x_test_fever,x_test_city_gender), axis =1)

In [66]:
x_test_transform.shape

(20, 6)

In [67]:
#Make Life Easy by using Column_Transformer

In [68]:
from sklearn.compose import ColumnTransformer

In [78]:
transformer = ColumnTransformer(transformers =[
    ('tf1', SimpleImputer(),['fever']),
    ('tf2', OrdinalEncoder(categories = [['Mild','Strong']]), ['cough']),
    ('tf3', OneHotEncoder(sparse_output = False, drop = 'first'), ['gender','city'])
], remainder = 'passthrough')

In [80]:
transformer.fit_transform(x_train).shape

(80, 7)

In [82]:
transformer.fit_transform(x_test).shape

(20, 7)